/*Add your CSS*/

  .box-1,
.box-2 {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-1 {
  background-color: black;
  color: orangered;
  font-size: 30px;
  display: flex;
  justify-content: center;
  
}

.box-2 {
  background-color: blanchedalmond;
  color: orangered;
  font-size: 30px;
  text-align: center;
  display: none;
}
#map {
  height: 50%;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

  img{
    width: 50px;
   height: 50px;
 
  }